#ListArea {
	border-radius: 10px;
	overflow: auto;
}

.page-box {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin: auto;
	width: 500px;
	text-align: center;
}

.btn, .modal_btn {
	padding: 8px 12px;
	margin: 0 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}

.btn:hover {
	background-color: #f0f0f0;
}

.btn.active {
	background-color: #dee2e6;
	cursor: default;
	font-weight: bolder;
}

.btn.noactive {
	background-color: #f0f0f0;
	cursor: default;
}

.btn.warning:hover {
	border-color: red;
}

.btn.release:hover {
	border-color: green;
}


section.small {
	width: 50%;
	margin: 0 auto;
}

#emptyArea {
	margin: auto;
	width: 500px;
	text-align: center;
}

section {
	margin-top: 20px;
}

section.title{
	font-size:25px
}

section.title2{
	font-size:18px;
	text-align: center;
}

small.warning {
	font-size: 12px;
	color: red;
	padding: 0 3% 0 0;
}

table {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #dee2e6;
	border-collapse: collapse;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: 0 auto;
}

td {
	padding: 2px 15px;
	white-space: nowrap;
	height: 50px;
	vertical-align: middle;
}
tr {
	border-top: 1px solid #dee2e6;
}
tr.tr1 {
	color:#343a40;
	background-color:#dee2e6;
	font-size:18px;
}

td.td1 {
	color:#343a40;
	background-color:#dee2e6;
	font-size:18px;
}

td.td2{
	border-right: 1px solid #dee2e6;
}

div.right {
	text-align: right;
}

input {
	width: 300px;
	height: 25px;
	padding: 5px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #868e96;
}

input:focus {
	border: 2px solid #000;
}
